.header_wrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  height: fit-content;
  mix-blend-mode: difference;
  color: white;
  margin-bottom: -106px;

  .header_container {
    padding: 2rem 40px;
    display: flex;
    justify-content: space-between;

    .navbar_wrapper {
      .link_list {
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .link_item {
          text-transform: lowercase;
        }
      }
    }
  }
}
