@media (min-width: 300px) {
  .resources_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    max-width: 90%;

    .card_wrapper {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      position: relative;
      width: 100%;

      .image_container {
        position: relative;
        width: 100%;
        height: 60vw;
        border-radius: 10px;
        overflow: hidden;

        background-color: white;
        transition: transform 0.3s;

        &:hover {
          transform: translateY(-15px);

          .video_wrapper {
            opacity: 1;
            z-index: 3;
          }
        }

        .image_wrapper {
          position: relative;
          width: 100%;
          height: 60vw;
          border-radius: 10px;
          overflow: hidden;
        }

        .demo_tag {
          display: none;
          top: 0;
          left: 0;
          align-items: flex-end;
          justify-content: flex-end;
          position: absolute;
          padding: 10px;
          gap: 5px;
          z-index: 3;
          top: calc(100% - 60px);
          left: calc(100% - 130px);
        }

        .video_wrapper {
          display: none;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          height: 110%;
          border-radius: 10px;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;
          background-color: white;

          .video {
            object-fit: cover;
            height: 100%;
            z-index: 1;
            width: 100%;
            border-radius: 10px;
          }
        }
      }

      .body {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        .info {
          width: 100%;
          display: flex;
          flex-direction: column;

          .category_container {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-top: 10px;

            .category {
              border-radius: 18px;
              padding: 6px;
              font-size: 10px;
              text-transform: uppercase;
              white-space: nowrap;
              background-color: #ededed;
              color: #4f576c;
            }
          }
        }

        .text {
          width: 100%;

          .title_wrapper {
            position: relative;
            display: block;
            width: fit-content;

            &:after {
              background: none repeat scroll 0 0 transparent;
              bottom: 0;
              content: "";
              display: block;
              height: 2px;
              left: 50%;
              position: absolute;
              background: #4f576c;
              transition: width 0.3s ease 0s, left 0.3s ease 0s;
              width: 0;
            }

            &:hover:after {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .resources_container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 10px;

    .card_wrapper {
      width: calc(31% + 3px);
      margin-top: 20px;

      .image_container {
        height: 20vw;
        max-height: 250px;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        position: relative;

        .image_wrapper {
          height: 20vw;
          max-height: 250px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 3;
        }

        .demo_tag {
          display: flex;
          z-index: 4;

          .tag {
            border-radius: 18px;
            padding: 7.5px 15px;
            text-transform: uppercase;
            white-space: nowrap;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: #4479e2;
            color: white;

            .tag_arrow {
              width: 15px;
              height: 10px;
              transition: transform 0.2s;
            }

            &:hover .tag_arrow {
              transform: translateX(3px) translateY(-3px);
            }
          }
        }

        .video_wrapper {
          width: 100%;
          display: flex;
          z-index: 2;
          opacity: 0;
        }
      }
    }
  }
}

@media (min-width: 1350px) {
  .resources_container {
    width: 100%;
    justify-content: space-between;

    .card_wrapper {
      max-width: 400px;
      margin-top: 20px;
    }
  }
}
