.content h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 16px;
  font-weight: 500;
}
.content p {
  font-size: 14px;
  color: #4f576c;
  line-height: 1.8rem;
  margin-top: 10px;
  margin-bottom: 30px;
}
.content li {
  font-size: 14px;
  color: #4f576c;
}
.content pre {
  border: 2px solid #ececed;
  max-width: calc(100vw - 32px);
  overflow-x: auto;
  font-size: 12px;
  padding: 1rem 2px 1rem 1rem;
  border-radius: 10px;
  margin-bottom: 30px;
}
.content ul {
  padding-left: 32px;
  list-style: disc;
}

.content .code-container {
  margin-bottom: 20px;
}

.content .code-container-header {
  border-top: 2px solid #ececed;
  border-left: 2px solid #ececed;
  border-right: 2px solid #ececed;
  border-radius: 10px 10px 0 0;
  padding: 5px 5px 5px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .code-container > pre {
  border-radius: 0px 0px 10px 10px;
}

.content .code-container-header > div:nth-child(2) {
  display: flex;
  justify-content: end;
}
.content .code-container-header > div {
  width: 100%;
}

.content .code-container-header > div:nth-child(2) > button > svg {
  width: 20px;
  height: 20px;
  fill: #070b28;
}

.content .code-no-heading {
  background-color: #ebeff9;
  border: 0px;
  border-radius: 10px;
}

.content code.languaje-jsx {
  background-color: #ececed;
  border: 1px solid #b5b2b2;
  border-radius: 5px;
  padding: 1px 4px;
  color: #4f576c;
}

ol{
  list-style: decimal;
  padding-left: 2rem;
}

ol h3 {
  font-weight: 500;
  color: var(--color-blackCustom)
}

@media (min-width: 767px) {
  .content p {
    font-size: 16px;
  }

  .content li {
    font-size: 16px;
  }

  .content pre {
    font-size: 14px;
  }

  ol{
    padding-left: 3rem;
  }
}
