.content {
  h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 16px;
    font-weight: 500;
  }
  p {
    font-size: 14px;
    color: #4f576c;
    line-height: 1.8rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  pre {
    border: 2px solid #ececed;
    max-width: calc(100vw - 32px);
    overflow-x: auto;
    font-size: 12px;
    padding: 1rem 2px 1rem 1rem;
  }
}

@media (min-width: 767px) {
  .content {
    p {
      font-size: 16px;
    }

    pre {
      font-size: 14px;
    }
  }
}