.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #141516;
  position: relative;
  padding-top: 115px;
  height: 100vh;
}

.contact .body {
  padding-top: 200px;
  width: 100%;
  background-color: #141516;
  padding: 0 1rem;
}

.contact .body .title {
  position: relative;
}

.contact .body .title span {
  display: flex;
  align-items: center;
}

.contact .body .title .imageContainer {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.75rem;
}

.contact .body .title .imageContainer img {
  object-fit: cover;
}

.contact .body .title h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  font-weight: 300;
}

.contact .body .title .buttonContainer {
  position: absolute;
  left: calc(100% - 400px);
  top: calc(100% - 75px);
  z-index: 11;
}

.contact .body .title .button {
  width: 180px;
  height: 180px;
  background-color: #455ce9;
  color: white;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact .body .title .button p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  z-index: 2;
  position: relative;
}

.contact .body .title .svg {
  position: absolute;
  top: 30%;
  right: 0;
}

.contact .body .nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 200px;
}

.contact .body .info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px;
  flex-direction: column;
}

.contact .body .info .bottom {
  order: 2;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.contact .body .info .top {
  order: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 20px;
}

.contact .body .info .top .stripe {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.225);
  height: 1px;
  width: 100%;
  bottom: 0;
}

.contact .body .info div {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.contact .body .info div p,
.contact .body .info div h5 {
  margin: 0;
  padding: 2.5px;
  cursor: pointer;
}

.contact .body .info div h5 {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.225);
}

.contact .body .info div p::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: white;
  display: block;
  margin-top: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}

.contact .body .info div p:hover::after {
  width: 100%;
}

.contact .body .info div span {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact .body .info div h3 {
  color: grey;
  cursor: default;
  font-weight: 300;
  font-size: 1em;
}

@media (min-width: 767px) {
  .contact .body {
    max-width: 1800px;
  }

  .contact .body .title {
    margin-left: 200px;
    margin-right: 200px;
  }

  .contact .body .title .imageContainer {
    width: 100px;
    height: 100px;
    margin-right: 1vw;
  }

  .contact .body .title h3 {
    font-size: 5.25vw;
    line-height: 5.5vw;
  }

  .contact .body .title .svg {
    left: 100%;
  }

  .contact .body .nav {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    flex-direction: row;
    padding-top: 0;
  }

  .contact .body .info {
    flex-direction: row;
    margin-top: 200px;
  }

  .contact .body .info .bottom {
    order: 1;
    padding-top: 0;
  }

  .contact .body .info .top {
    order: 2;
    padding-bottom: 0;
  }

  .contact .body .info .top .stripe {
    display: none;
  }
}
