.cursor_wrapper {
  pointer-events: none;
  z-index: 10001;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0%;

  .dot_cursor {
    position: relative;
    top: -49.1%;
    left: -49.5%;
    pointer-events: none;
    background-color: var(--color-blackCustom);
    border-radius: 100px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.2s, background-color 0.5s, height 0.4s, width 0.4s,
      opacity 0.2s, left 40ms, top 40ms;

    &.project_preview {
      background-color: var(--color-whiteCustom);
      width: 100px;
      height: 40px;
      transition: width 0.5s, height 0.5s;
      transition-delay: 0s;
    }
    &.resource_demo {
      width: 120px;
      height: 40px;
      transition: width 0.5s, height 0.5s;
      transition-delay: 0s;
    }
    &.cursor_light {
      background-color: var(--color-whiteCustom) / 50;
      backdrop-filter: invert(100%) contrast(150%);
    }
    &.link_hover {
      width: 75px;
      height: 30px;
      background-color: var(--color-blackCustom) / 50;
      backdrop-filter: invert(100%) contrast(150%);
      transition: width 0.5s, height 0.5s;

      &.wider {
        width: 100px;
      }
    }
    &.logo_hover {
      width: 80px;
      height: 80px;
      background-color: var(--color-blackCustom) / 50;
      backdrop-filter: invert(100%) contrast(150%);
      transition: width 0.5s, height 0.5s;
    }
    &.btn_hover {
      width: 100px;
      height: 40px;
      opacity: 0;
      transition: width 0.5s, height 0.5s, opacity 0.5s;
    }
    &.ipt_hover {
      width: 1px;
      transition: width 0.5s;
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  .cursor_wrapper {
    display: none;
  }
}
